extends layout

block content 
    .books 
        h1= title 

        ul 
            each book in book_list 
                li 
                    a(href= book.url) #[strong #{book.title }] #[strong #{ book.author.name}]

            else 
                li There are no books.
