doctype html
html(lang='en')

  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer, src="/javascripts/navBar.js")

  body
    .nav-bar
      #menuToggle.toggle-menu.active
        span.bar
        span.bar
        span.bar
    
    .main
      #sideMenu.side-menu
        .menu-items
          block sidebar
            ul.sidebar-nav
              li
                a.item(href='/catalog') Home
              li
                a.item(href='/catalog/books') Books
              li
                a.item(href='/catalog/authors') Authors
              li
                a.item(href='/catalog/genres') Genres
              li
                a.item(href='/catalog/bookinstances') Book Instances
              li
                hr
              li
                a.item(href='/catalog/author/create') New Author
              li
                a.item(href='/catalog/genre/create') New Genre
              li
                a.item(href='/catalog/book/create') New Book
              li
                a.item(href='/catalog/bookinstance/create') New Book Instance


    div(class='content')
      block content
